<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Secret_Hitler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Secret_Hitler.Properties.Settings>
            <setting name="Player1Name" serializeAs="String">
                <value>Fritz</value>
            </setting>
            <setting name="Player2Name" serializeAs="String">
                <value>Norbert</value>
            </setting>
            <setting name="Player3Name" serializeAs="String">
                <value>Lukas</value>
            </setting>
            <setting name="Player4Name" serializeAs="String">
                <value>Kai</value>
            </setting>
        </Secret_Hitler.Properties.Settings>
    </userSettings>
</configuration>